<template>
  <div>
    <input type="text" v-model="state.value" />
    <button @click="addItem">Add</button>

    <ul>
      <li v-for="(item, index) in list" :key="item.id">
        {{item.title}}
        <button @click="deleteItem(index)">删除</button>
      </li>
    </ul>
  </div>
</template>

<script>
import { getCurrentInstance, reactive } from 'vue';

export default {
  setup() {
    const { ctx } = getCurrentInstance();
    const state = reactive({value: ''})

    let list = [
      {
        id: "id-1",
        title: "未来计划1"
      },
      {
        id: "id-2",
        title: "未来计划2"
      },
      {
        id: "id-3",
        title: "未来计划3"
      }
    ];

    const addItem = () => {
      ctx.list.push({
        id: `id-${Date.now()}`,
        title: state.value
      })
      state.value = ''
    }

    const deleteItem = (index) => {
      ctx.list.splice(index, 1)
    }

    return{
      state,
      list,

      addItem,
      deleteItem
    }
  }
}
</script>