<template>
  <div class="home">
    <button @click="increment">
      Count is: {{ state.count }}, double is: {{ state.double }}
    </button>
    <hr>
    <h1>ref绑定数据状态</h1>
    <div>{{ num }}</div>
    <div> count * 2 = {{doubleCount}} </div>
    <button @click="plus">+</button>
    <button @click="minus">-</button>

  </div>
</template>

<script>
  import { reactive, computed, ref } from 'vue'

  export default {
    setup() {
      const state = reactive({
        count: 0,
        double: computed(() => state.count * 2),
      })

      function increment() {
        state.count++
      }

      const num = ref(3);
      const doubleCount = computed(() => num.value * 2)

      const plus = () => {
        num.value++
      }
      const minus = () => {
        num.value--
      }

      return {
        state,
        increment,

        num,
        doubleCount,
        plus,
        minus
      }
    },
  }
</script>

