<template>
  <div>
    <input type="text" v-model="state.value">
    <button @click="addItem">添加</button>
  </div>
</template>

<script>
import { getCurrentInstance, reactive } from 'vue';

export default{
  setup() {
    const { ctx } = getCurrentInstance()
    const state = reactive({value: ''})

    const addItem = () => {
      ctx.$emit('add-amy', state.value) // 自定义事件必须是驼峰式命名
      state.value = ''
    }

    return{
      state,
      addItem
    }
  }
}
</script>