<template>
  <div>
    <ul>
      <li v-for="(item, index) in list" :key="item.id">
        {{item.title}}
        <button @click="deleteItem(item.id, index)">删除</button>
      </li>
    </ul>
  </div>
</template>

<script>
import { getCurrentInstance } from 'vue';

export default{
  props: {
    list: Array,
  },
  setup() {
    const { ctx } = getCurrentInstance()

    const deleteItem = (id, index) => {
      ctx.$emit('delete-amy', {id, index})
    }

    return{
      deleteItem
    }
  }
}
</script>

<style lang="scss" scoped>
ul,li{
  list-style: none;
}
</style>