<template>
  <div>
    <Input @add-amy="addHandler" />  
    <List :list="list" @delete-amy="deleteHandler" />
  </div>
</template>

<script>
import { getCurrentInstance } from 'vue';
import Input from "./Input";
import List from "./List";

export default {
  components: {
    Input,
    List
  },

  setup() {
    const { ctx } = getCurrentInstance();

    let list = [
      {
        id: "id-1",
        title: "待办事项1"
      },
      {
        id: "id-2",
        title: "待办事项2"
      },
      {
        id: "id-3",
        title: "待办事项3"
      }
    ];

    const addHandler = (title) => {
      ctx.list.push({
        id: `id-${Date.now()}`,
        title: title
      })
    }

    const deleteHandler = (el) => {
      ctx.list.splice(el.index, 1)
    }

    return{
      list,

      addHandler,
      deleteHandler
    }
  }
}
</script>