<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">响应式</router-link> |
      <router-link to="/getRouter">获取路由</router-link> |
      <router-link to="/useVuex">使用Vuex</router-link> |
      <router-link to="/todo">Todo List</router-link> |
      <router-link to="/todo1">Vuex Todo List</router-link> |
      <router-link to="/cart">Cart</router-link> |
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
