<template>
  <div>
    <h3>产品列表</h3>
    <ul>
      <li v-for="(item) in productionList" :key="item.id">
        {{item.title}} - {{item.price}}元
        <button @click="addCart(item)">加入购物车</button>
      </li>
    </ul>

    <hr>

    <h3>购物车列表</h3>
    <ul>
      <li v-for="(el) in cartList" :key="el.id">
        {{el.title}} - {{el.quantity}}个
        <button @click="removeCart(el.id)">删除</button>
      </li>
    </ul>
  </div>
</template>

<script>
import { computed } from 'vue'
import { useStore } from 'vuex'

export default {

  setup() {
    const store = useStore()

    // 商品列表
    const productionList = computed(() => store.state.productionList)
    // 购物车原数据
    const cartList = computed(() => store.state.cartList)
    // 如：
    // {
    //   id: 1,
    //   quantity: 1 // 购物数量
    // }

    // 购物车内商品列表
    const list = () => {
      return cartList.value.map(cartListItem => {
        // 找到对应的 productionItem
        // const productionItem = productionList.value.find(prdItem => prdItem.id === cartListItem.id)
        const productionItem = productionList.value.find(prodItem => {
          if (prodItem.id === cartListItem.id) {
            console.log(prodItem.id)
            console.log(cartListItem.id)
          }
          return prodItem.id === cartListItem.id
        })
        // 返回商品信息，外加购物数量
        return {
          ...productionItem,
          quantity: cartListItem.quantity
        }
        // 如：
        // {
        //     id: 1,
        //     title: '商品A',
        //     price: 10,
        //     quantity: 1 // 购物数量
        // }
      })
    }

        // 总价
        // const totalPrice = () => {
        //   return this.list.reduce(
        //     (total, curItem) => total + (curItem.quantity * curItem.price),
        //     0
        //   )
        // }

    // 加入购物车
    const addCart = (item) => {
      // ctx.cartList.push({
      //   id: item.id,
      // })
      
      // 先看看购物城中有没有该产品
      // let prod = cartList.value.find(el => el.id === item.id)
      let prod = cartList.value.find(el => {
        console.log(el.id)
        console.log(item.id)
        return el.id === item.id
      })
      console.log(cartList.value)
      if (prod) {
        // 数量加一
        alert(9)
        return prod.quantity++
      }

      // 购物车没有该商品
      store.commit('setProductionList', {id: item.id, quantity: item.quantity})
    }

    const removeCart = (id) => {
      store.commit('setCartList', {id})
    }

    return{
      productionList,
      cartList,

      list,

      addCart,
      removeCart
    }
  }
}
</script>

<style lang="scss" scoped>
ul, li{
  list-style: none;
}
</style>