<template>
  <div>
    <h3>产品列表</h3>
    <ul>
      <li v-for="(item) in productionList" :key="item.id">
        {{item.title}} - {{item.price}}元
        <button @click="addCart(item)">加入购物车</button>
      </li>
    </ul>

    <hr>

    <h3>购物车列表</h3>
    <ul>
      <li v-for="(el) in list" :key="el.id">
        {{el.title}} - {{el.quantity}}个
        <button @click="removeCart(el.id)">删除</button>
        <button @click="minus(el.id)">减少</button>
      </li>
    </ul>
    <p>总价：{{totalPrice}}元</p>
  </div>
</template>

<script>
import { computed } from 'vue'
import { useStore } from 'vuex'

export default {

  setup() {
    const store = useStore()

    // 商品列表
    const productionList = computed(() => store.state.productionList)
    // 购物车原数据
    let cartList = computed(() => store.state.cartList)
    // 如：
    // {
    //   id: 1,
    //   quantity: 1 // 购物数量
    // }

    // 购物车内商品列表
    const list = computed(() => {
      return cartList.value.map(cartListItem => {
        const productionItem = productionList.value.find(prdItem => prdItem.id === cartListItem.id)

        // 返回商品信息，外加购物数量
        return {
          ...productionItem,
          quantity: cartListItem.quantity
        }
        // 如：
        // {
        //     id: 1,
        //     title: '商品A',
        //     price: 10,
        //     quantity: 1 // 购物数量
        // }
      })
    })

    // 总价
    const totalPrice = computed(() => {
      return list.value.reduce(
        (total, curItem) => total + (curItem.quantity * curItem.price),
        0
      )
    })

    // 加入购物车
    const addCart = (item) => {
      // 先看看购物城中有没有该产品
      let prod = cartList.value.find(el => el.id === item.id)
      console.log(cartList.value)
      if (prod) {
        // 数量加一
        return prod.quantity++
      }

      // 购物车没有该商品
      store.commit('setProductionList', {id: item.id, quantity: 1})
    }

    // 删除购物车内该产品
    const removeCart = (id) => {
      store.commit('setCartList', {id})
    }

    // 从购物车里删除一个商品（即购物数量减一）
    const minus = (id) => {
      // 从购物车中找出该商品
      const prod = cartList.value.find(item => item.id === id)
      if (prod == null) {
        return
      }

      // 数量减一
      prod.quantity--

      // 如果数量减少到了 0
      if (prod.quantity <= 0) {
        // cartList = cartList.value.filter(item => item.id !== id)
        removeCart(prod.id)
      }
    }

    return{
      productionList,
      cartList,

      list,
      totalPrice,

      addCart,
      removeCart,
      minus
    }
  }
}
</script>

<style lang="scss" scoped>
ul, li{
  list-style: none;
}
</style>